@page "/running"

@using Blazored.LocalStorage;
@using MadWorld.Shared.Client.Manager.Running.Interfaces;
@inject ILocalStorageService _localStorage;
@inject IRunningManager _manager;

<h1>Running tool!</h1>

<div class="card">
    @if (!RunStarted)
    {
    <div class="card-header">
        <button type="button" class="btn btn-success" @onclick=(AddRun)>Add Run</button>
        <button type="button" class="btn btn-success" @onclick=(AddWalk)>Add Walk</button>
        <button type="button" class="btn btn-success" @onclick=(Test)>Test Sound</button>
        <button type="button" class="btn btn-success" @onclick=(SaveScheme)>Save Scheme</button>
        <button type="button" class="btn btn-success" @onclick=(LoadScheme)>Load Scheme</button>
        <button type="button" class="btn btn-success" @onclick=(Start)>Start Run</button>
    </div>
    }
    @if (ShowNewRunInputs)
    {
        <div class="card-body">
            <label class="form-label">Type: @RunType</label>
            <div class="input-group mb-3">
                <span class="input-group-text" id="duration">Minutes</span>
                <input type="number" min="0" class="form-control" aria-label="Minutes" aria-describedby="duration" @bind="DurationMinutes">
            </div>
            <button type="button" class="btn btn-success" @onclick=(ConfirmRound)>Confirm this run</button>
        </div>
    }
    @if (RunStarted)
    {
        <div class="card-body">
            <div class="stopwatch">
                <h3>Round: @Round</h3>
                <div class="circle">
                    <span class="time" id="display">@DisplayTimespan(TimeLeft)</span>
                </div>
            </div>
        </div>
    }
    <div class="card-body">
        <h3>Scheme</h3>
    </div>
    @foreach (var runRound in AllRounds)
    {
        <div class="col-md-4 col-xl-3">
            <div class="card card-round @GetBlockColour(runRound.Type) order-card">
                <div class="card-block card-block-round">
                    <div class="row">
                        <div class="col">
                            <p>@runRound.Type : @DisplayTimespan(runRound.Duration)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="card-body visually-hidden">
        <audio id="@PlayerID" controls><source src="/music/sonar-ping.wav" /></audio>
    </div>
</div>
